/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato",'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.container {
  width: 71%;
  margin: 0 auto;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/lato-bold.woff) format("woff"), url(../fonts/lato-bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/lato-italic.woff) format("woff"), url(../fonts/lato-italic.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/lato-light.woff) format("woff"), url(../fonts/lato-light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/lato-regular.woff) format("woff"), url(../fonts/lato-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: #222222;
  position: relative;
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__menu-button {
  border: none;
  background-color: transparent;
}

.header__menu-button:hover + .header__navigation {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__menu-button:focus ~ .header__navigation, .header__navigation:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__link {
  margin: 0 0 0 33px;
}

@media (max-width: 768px) {
  .header__link {
    display: none;
  }
}

.header__link-cart {
  position: relative;
}

.header__link-cart::after {
  content: '0';
  color: #FBFBFB;
  padding: 2px 6px 2px 6px;
  background-color: #F16D7F;
  position: absolute;
  border-radius: 10px;
  top: -25px;
  right: -10px;
}

.header__navigation {
  background-color: #FBFBFB;
  position: absolute;
  right: 12%;
  top: 75px;
  -webkit-box-shadow: 20px 15px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 15px 10px 5px rgba(0, 0, 0, 0.2);
  min-width: 232px;
  min-height: 764px;
  -webkit-transform: translateY(-966px);
          transform: translateY(-966px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 1;
}

@media (max-width: 768px) {
  .header__navigation {
    right: 0;
  }
}

.header__navigation-menu {
  padding: 16px 0 0 34px;
  position: relative;
  width: 200px;
  height: 750px;
  right: 0;
}

@media (max-width: 1599px) {
  .header__navigation-menu {
    height: 600px;
  }
}

.header__navigation-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 24px;
}

.header__navigation-kross {
  border: none;
  background-color: #FBFBFB;
  padding-left: 165px;
  outline: none;
  cursor: pointer;
}

.navigation-item__link {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-item__sublist {
  padding: 12px 0 20px 21px;
}

.navigation-item__sublist-add {
  font-size: 14px;
  line-height: 17px;
  color: #9b8181;
  text-decoration: none;
}

.navigation-item__sublist-link {
  padding-bottom: 11px;
}

.brand {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand__heading-wrapper {
  background-color: #F1E4E6;
  padding: 0 0 0 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1599px) {
  .brand__heading-wrapper {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 768px) {
  .brand__heading-wrapper {
    padding: 0 0 0 83px;
    min-height: 363px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.brand__image {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
  .brand__image {
    display: none;
  }
}

.brand__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1599px) {
  .brand__heading {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .brand__heading {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    font-style: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.brand__heading::before {
  content: '';
  width: 12px;
  height: 100px;
  background-color: #F16D7F;
  position: absolute;
  left: -26px;
}

@media (max-width: 1599px) {
  .brand__heading::before {
    height: 92px;
  }
}

.brand__heading-text {
  text-transform: uppercase;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1599px) {
  .brand__heading-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 768px) {
  .brand__heading-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__heading-text-pink {
  color: #F16D7F;
}

.stocks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 65px 0 0 0;
}

.stocks__item {
  width: 31%;
  min-height: 260px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .stocks__item {
    min-height: 167px;
  }
}

@media (max-width: 768px) {
  .stocks__item {
    margin-top: 32px;
    width: 100%;
    min-height: 248px;
  }
}

.stocks__item-add {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
}

.stocks__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

.stocks__item-header {
  color: #F16D7F;
}

.stocks__item--woman {
  background-image: url(../img/beautyWoman.jpg);
}

@media (max-width: 1599px) {
  .stocks__item--woman {
    min-height: 267px;
  }
}

@media (max-width: 768px) {
  .stocks__item--woman {
    min-height: 247px;
  }
}

.stocks__item--man {
  background-image: url(../img/justAMan.jpg);
  /*man.jpg*/
}

@media (max-width: 1599px) {
  .stocks__item--man {
    min-height: 267px;
  }
}

@media (max-width: 768px) {
  .stocks__item--man {
    min-height: 247px;
  }
}

.stocks__item--kids {
  background-image: url(../img/kid.jpg);
  /*kids.jpg*/
}

@media (max-width: 1599px) {
  .stocks__item--kids {
    min-height: 267px;
  }
}

@media (max-width: 768px) {
  .stocks__item--kids {
    min-height: 247px;
  }
}

.stocks__item--accessories {
  width: 100%;
  min-height: 180px;
  margin: 30px 0 0 0;
  background-image: url(../img/someStuff.jpg);
  background-repeat: no-repeat;
}

@media (max-width: 1599px) {
  .stocks__item--accessories {
    width: 100%;
  }
}

.products {
  margin-top: 96px;
}

.products__heading {
  text-align: center;
  margin-bottom: 48px;
  font-weight: 400;
}

.products__heading-apper {
  font-size: 30px;
  line-height: 36px;
}

.products__heading-text {
  font-size: 14px;
  line-height: 17px;
  color: #9b8181;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .products__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .products__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__item {
  width: 31%;
  border-radius: 0px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
}

@media (max-width: 1599px) {
  .products__item {
    min-width: 360px;
  }
}

@media (max-width: 768px) {
  .products__item {
    width: 95%;
  }
}

.products__item-img {
  position: relative;
  width: 100%;
}

.products__item-heading {
  margin: 32px 0 13px;
}

.products__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #9b8181;
  width: 315px;
  height: 51px;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 18px;
}

.products__item-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-bottom: 20px;
}

.products__item-button {
  display: none;
}

.products__item-buy {
  position: relative;
}

.products__item-back {
  display: none;
}

.products__item-buy:hover .products__item-back {
  display: block;
}

.products__item-img__back-dark {
  background-image: url(../img/dark.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.products__item-img__back-add {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  border: 1px solid #FBFBFB;
  color: #FBFBFB;
  padding: 13px 15px 13px 50px;
  outline: none;
  cursor: pointer;
}

.products__item-img__back-add::before {
  position: absolute;
  content: '';
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 30px;
  top: 15%;
  left: 5%;
}

.products__item-img__back-add:focus {
  outline: 2px solid #FBFBFB;
}

.products__item-cart {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  padding: 13px 13px 13px 50px;
  border: 1px solid #FBFBFB;
  position: absolute;
  left: 30.72%;
  top: 40.12%;
}

.products__item-img:focus ~ .products__item-cart,
.products__item-img:active ~ .products__item-cart, .products__item-cart:hover {
  display: block;
}

.products__button {
  text-align: center;
  margin: 49px 0 95px 0;
}

.products__button-add {
  padding: 14px 39px;
  text-decoration: none;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products__button-add:hover, .products__button-add:focus {
  background-color: #F16D7F;
  color: #FBFBFB;
}

.opportunities {
  background-color: #222222;
}

.opportunities__list {
  min-height: 371px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .opportunities__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 64px;
  }
}

@media (max-width: 768px) {
  .opportunities__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 64px;
  }
}

.opportunities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
}

@media (max-width: 1599px) {
  .opportunities__item {
    padding-top: 49px;
  }
}

@media (max-width: 768px) {
  .opportunities__item {
    padding-top: 49px;
  }
}

.opportunities__item-img {
  padding-bottom: 28px;
}

.opportunities__item-apper {
  color: #FBFBFB;
  font-size: 19.96px;
  line-height: 24px;
  margin-bottom: 16px;
}

.opportunities__item-text {
  color: #FBFBFB;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
}

.information {
  background-image: url(../img/beach.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

@media (max-width: 1599px) {
  .information {
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .information {
    background-size: cover;
  }
}

.information__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 62px 0 126px;
}

@media (max-width: 1599px) {
  .information__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .information__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.information__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information__author-quote {
  margin: 30px 0 0 0;
  width: 360px;
  height: 100px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.information__feedback {
  text-align: center;
}

@media (max-width: 1599px) {
  .information__feedback {
    padding-top: 49px;
    padding-bottom: 14px;
  }
}

.information__feedback-head {
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700;
}

.information__feedback-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 167.2%;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.information__feedback-writer {
  font-size: 0;
}

.information__feedback-input {
  padding: 17px 100px 17px 22px;
  background: #FBFBFB;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
}

@media (max-width: 768px) {
  .information__feedback-input {
    padding: 17px 35px 17px 20px;
  }
}

.information__feedback-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  padding: 0;
}

.information__feedback-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  padding: 0;
}

.information__feedback-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  padding: 0;
}

.information__feedback-input::placeholder {
  font-size: 14px;
  line-height: 17px;
  padding: 0;
}

.information__feedback-input:hover, .information__feedback-input:focus {
  border: 1px solid #F16D7F;
  cursor: pointer;
}

.information__feedback-button {
  padding: 17px 17px 17px 22px;
  border: none;
  background: #F16D7F;
  border-radius: 0 20px 20px 0;
  color: #FBFBFB;
  outline: none;
  cursor: pointer;
}

.other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  background-color: #222222;
}

.other__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .other__down {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 768px) {
  .other__down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.other__down-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FBFBFB;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  .other__down-copyright {
    padding: 40px 0 9px 0;
  }
}

@media (max-width: 768px) {
  .other__down-partners {
    padding-top: 40px;
  }
}

.other__down-link {
  padding: 9px 12px;
  background-color: #FBFBFB;
  margin: 0 8px 0 0;
}

.apper {
  background-color: #F1E4E6;
}

.apper__head {
  color: #F16D7F;
  text-transform: uppercase;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .apper__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.apper__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 148px;
}

@media (max-width: 768px) {
  .apper__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px 0 64px;
  }
}

.apper__block-head {
  color: #F16D7F;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .apper__block-head {
    padding: 0 0 32px;
  }
}

.apper__block-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #636363;
  opacity: .7;
  cursor: pointer;
}

.apper__block-link:hover {
  color: #9b8181;
}

.apper__block-pink {
  color: #F16D7F;
  opacity: 1;
}

.registration {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.registration__form {
  margin-right: 130px;
}

@media (max-width: 768px) {
  .registration__form {
    margin: 0;
  }
}

.registration__blank-personal__head {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  opacity: 0.7;
}

.registration__blank-personal__input {
  display: block;
  margin: 20px 0 20px 0;
  padding: 16px 274px 16px 17px;
  opacity: 0.3;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .registration__blank-personal__input {
    width: 100%;
  }
}

.registration__blank-personal__input:hover, .registration__blank-personal__input:focus {
  border: 2px solid red;
  background: #FBFBFB;
  cursor: pointer;
}

.registration__blank-gender__point {
  display: none;
}

.registration__blank-gender__text {
  opacity: 0.6;
  margin: 20px;
  position: relative;
}

.registration__blank-gender__text:before {
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid;
  position: absolute;
  left: -16px;
  top: 2px;
  border-radius: 6px;
}

.registration__blank-gender__point:checked + .registration__blank-gender__text:before {
  background: #F16D7F;
}

.registration__blank-gender {
  padding-bottom: 33px;
}

.registration ::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

.registration :-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

.registration ::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

.registration ::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 0;
}

.registration__blank-warning {
  padding-bottom: 40px;
  width: 360px;
  opacity: 0.3;
}

.registration__blank-button {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FBFBFB;
  background-color: #F16D7F;
  padding: 16px 0 17px 13px;
  width: 167px;
  position: relative;
}

.registration__blank-button:after {
  content: '';
  position: absolute;
  color: #FBFBFB;
  width: 17px;
  height: 17px;
  background-image: url(../img/arrow.svg);
  margin-left: 20px;
  margin-top: 4px;
  background-repeat: no-repeat;
}

.registration__privileges-apper {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding-bottom: 32px;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .registration__privileges-apper {
    margin-top: 40px;
  }
}

.registration__privileges-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 21px;
  opacity: 0.7;
}

.registration__privileges-list {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 16px;
  position: relative;
  margin-left: 43px;
  opacity: 0.7;
}

.registration__privileges-list::before {
  content: '';
  position: absolute;
  background-image: url(../img/checkmark.svg);
  width: 20px;
  height: 16px;
  left: -43px;
  top: 8px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 96px 0 128px 0;
}

@media (max-width: 1599px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 96%;
  }
}

@media (max-width: 768px) {
  .cart {
    padding: 40px 0;
    width: 96%;
    margin: 0 auto;
  }
}

.choice {
  width: 57%;
}

@media (max-width: 1599px) {
  .choice {
    width: 95%;
  }
}

.choice__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
  -webkit-box-shadow: 20px 15px 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 15px 10px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1599px) {
  .choice__list-item {
    width: 96%;
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  }
}

.choice__active {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
}

@media (max-width: 1599px) {
  .choice__active {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .choice__active {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

.choice__active-button {
  background-color: #FBFBFB;
  padding: 16px 45px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  opacity: .6;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  text-decoration: none;
  outline: #F16D7F;
  color: #222222;
}

@media (max-width: 768px) {
  .choice__active-button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    padding: 9px 17px;
    text-transform: none;
  }
}

.list-item {
  position: relative;
  height: auto;
}

.list-item__description {
  padding: 22px 97px 0 31px;
}

@media (max-width: 768px) {
  .list-item__description {
    width: 43%;
    padding: 15px 53px 20px 17px;
  }
}

.list-item__image {
  height: auto;
}

@media (max-width: 768px) {
  .list-item__image {
    width: 34%;
  }
}

.list-item__kross {
  position: absolute;
  top: 28px;
  right: 22px;
  background-color: #FBFBFB;
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 768px) {
  .list-item__kross {
    top: 17px;
    right: 12px;
  }
}

.list-item__description-name {
  padding-bottom: 42px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .list-item__description-name {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 15px;
  }
}

.description-specification__text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  opacity: .7;
  padding-bottom: 6px;
}

@media (max-width: 768px) {
  .description-specification__text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
  }
}

.specification-text__pink {
  color: #F16D7F;
  opacity: 1;
}

.specification-text__count {
  border: 1px solid #EAEAEA;
  margin: 0 0 0 25px;
}

@media (max-width: 768px) {
  .specification-text__count {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
  }
}

.result {
  width: 31%;
}

@media (max-width: 1599px) {
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 64px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
}

@media (max-width: 1599px) {
  .result__adress {
    width: 53%;
  }
}

.result__price {
  background-color: #F5F3F3;
  text-align: right;
}

@media (max-width: 1599px) {
  .result__price {
    width: 53%;
    height: auto;
    margin-left: 15px;
    margin: 39px 0 0 15px;
  }
}

@media (max-width: 768px) {
  .result__price {
    width: 96%;
    margin: 0;
  }
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1599px) {
  .adress {
    width: 53%;
  }
}

@media (max-width: 768px) {
  .adress {
    width: 96%;
  }
}

.adress__apper {
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.adress__information-city {
  padding: 12px 0 12px 16px;
  margin-bottom: 21px;
  border: 1px solid #A4A4A4;
  outline: none;
}

.adress__information-city::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  opacity: .7;
  outline: none;
}

.adress__information-city:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  opacity: .7;
  outline: none;
}

.adress__information-city::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  opacity: .7;
  outline: none;
}

.adress__information-city::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  opacity: .7;
  outline: none;
}

.adress__information-city:hover, .adress___information-city:focus {
  border: 1px solid #F16D7F;
  background: #FBFBFB;
  cursor: pointer;
}

.adress__information-state {
  padding: 12px 0 12px 16px;
  margin-bottom: 21px;
  border: 1px solid #A4A4A4;
  outline: none;
}

.adress__information-state:hover, .adress___information-state:focus {
  border: 1px solid #F16D7F;
  background: #FBFBFB;
  cursor: pointer;
}

.adress__information-postcode {
  padding: 12px 0 12px 16px;
  margin-bottom: 21px;
  border: 1px solid #A4A4A4;
  outline: none;
}

.adress__information-postcode:hover, .adress___information-postcode:focus {
  border: 1px solid #F16D7F;
  background: #FBFBFB;
  cursor: pointer;
}

.adress__information-button {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  width: 31%;
  padding: 10px 14px;
  text-transform: uppercase;
  background-color: #FBFBFB;
  opacity: .7;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  margin-bottom: 57px;
  outline: none;
}

.price__block {
  padding: 40px 34px 42px 44px;
}

.price__one {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 12px;
}

.price__one-number {
  padding-left: 30px;
}

.price__all {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 21px;
  border-bottom: 1px solid #E2E2E2;
}

.price__all-number {
  padding-left: 30px;
  color: #F16D7F;
}

.price__button {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #F16D7F;
  border: none;
  color: #FBFBFB;
  padding: 15px 0 15px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  margin-top: 17px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .active-button {
    margin-right: 10px;
  }
}

.card {
  text-align: center;
  padding: 64px;
  position: relative;
  width: 71%;
  margin-top: -40px;
  margin-bottom: 130px;
}

@media (max-width: 1599px) {
  .card {
    width: 100%;
  }
}

.card__block {
  top: -40px;
  border: 1px solid #A4A4A4;
  background-color: #FBFBFB;
}

.card__information {
  margin: 0 auto;
  width: 56%;
  border-bottom: 1px solid #A4A4A4;
}

@media (max-width: 1599px) {
  .card__information {
    width: 100%;
  }
}

.card__information-collection {
  color: #F16D7F;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.card__information-row {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin: auto;
}

.card__information-name {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  opacity: .7;
  padding: 12px 0 48px 0;
}

.card__information-text {
  opacity: .7;
  padding-bottom: 32px;
  width: 86%;
  margin: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 1599px) {
  .card__information-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    font-style: normal;
  }
}

.card__information-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  padding-bottom: 65px;
}

.card__interective {
  padding-top: 65px;
}

.card__interective-send {
  border: 1px solid #F16D7F;
  position: relative;
  background-color: #FBFBFB;
  color: #F16D7F;
  padding: 14px 56px 14px 72px;
}

.card__interective-send:focus {
  background-color: #F16D7F;
  color: #FBFBFB;
}

.card__interective-send::after {
  content: '';
  position: absolute;
  background-image: url(../img/pink-cart.svg);
  width: 26px;
  height: 25px;
  left: 24px;
  top: 12px;
}

@media (max-width: 1599px) {
  .interective-class {
    margin: 0 auto;
    width: 70%;
  }
}

@media (max-width: 1599px) {
  .interective-class {
    width: 100%;
  }
}

.interective-class__button {
  position: relative;
  margin: 0 21px 48px 21px;
  border: none;
  background-color: #FBFBFB;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #6F6E6E;
  cursor: pointer;
}

@media (max-width: 768px) {
  .interective-class__button {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
    margin: 0 21px 48px 11px;
  }
}

.interective-class__button::after {
  content: '';
  position: absolute;
  background-image: url(../img/vector-down.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 5px;
  right: -13px;
  top: 7px;
}

@media (max-width: 768px) {
  .interective-class__button::after {
    top: 3px;
  }
}

.variant__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 128px;
}

@media (max-width: 1599px) {
  .variant__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .variant__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.variant__item {
  width: 31%;
  border-radius: 0px;
  margin-bottom: 30px;
}

@media (max-width: 1599px) {
  .variant__item {
    min-width: 360px;
  }
}

@media (max-width: 768px) {
  .variant__item {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .variant__item-midle {
    display: none;
  }
}

@media (max-width: 1599px) {
  .variant__item-end {
    display: none;
  }
}

@media (max-width: 768px) {
  .variant__item-end {
    display: block;
  }
}

.variant__item-img {
  position: relative;
  width: 100%;
}

.variant__item-heading {
  margin: 32px 0 13px;
}

.variant__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #9b8181;
  width: 315px;
  height: 51px;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 18px;
}

.variant__item-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.variant__item-button {
  display: none;
}

.products-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 65px 0 49px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[3];
      grid-template-columns: repeat(3, 360px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.products-list__item {
  border-radius: 0px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
}

@media (max-width: 1599px) {
  .products-list__item {
    min-width: 360px;
  }
}

@media (max-width: 768px) {
  .products-list__item {
    width: 95%;
  }
}

.products-list__item-heading {
  margin: 32px 0 13px;
}

.products-list__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #9b8181;
  width: 315px;
  height: 51px;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 18px;
}

.products-list__item-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.head-filter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[2];
      grid-template-columns: repeat(2, 100px);
  grid-column-gap: 290px;
  -ms-grid-rows: 17px;
      grid-template-rows: 17px;
  margin-top: 51px;
}

.head-filter__button {
  background-color: #FBFBFB;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: normal;
}

.head-filter__button-image {
  padding-left: 11px;
}

.head-filter__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 30px 40px;
      grid-template-columns: 120px 30px 40px;
  grid-column-gap: 38px;
}

.head-filter__list-item {
  background-color: #FBFBFB;
  border: none;
  text-transform: uppercase;
  position: relative;
  color: #9b8181;
  white-space: nowrap;
}

.head-filter__list-item::after {
  content: '';
  position: absolute;
  background-image: url(../img/vector-down.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 5px;
  right: -13px;
  top: 7px;
}
/*# sourceMappingURL=style.css.map */