.width-heigth-margin {
    width: 42%;
    min-height: 724px;
    margin: 0 auto;

}

@media (max-width: 1599px) {
    .width-heigth-margin {
        width: 62%;
        min-height: 565px;

    }
}

@media (max-width: 768px) {
    .width-heigth-margin {
        width: 100%;
        min-height: 454px;

    }
}

.height-724 {
    height: 724px;
}

.margin {
    margin-top: 10px;
    margin-bottom: 42px;

}

.margin-128 {
    margin-bottom: 128px;
}

.bg-c {
    background-color: #F7F7F7;
}

.button-slide {
    padding: 13px 17px;
    background: rgba(42, 42, 42, 0.15);
    width: 0;
}

.padding-button {
    padding: 0 0 0 15px;
}

.numbering {
    display: flex;
    justify-content: center;
    padding-bottom: 96px;
}

@media (max-width: 1199px) {
    .item-except {
        display: none;
    }
}

.button-size:focus~.size,
.size:hover{
    display: block;
}