$black-color: #222222;
$pink-color: #F1E4E6;
$white-color: #FBFBFB;
$pinky-color: #F16D7F;
$light-pink: #F5F3F3;
$gray-color: #9b8181;
$light-gray: #A4A4A4;

$max-tablet-width: 1599px;
$max-phone-width: 768px;