.adress{
    display: flex;
    flex-direction: column;

    @include tablet{
        width: 53%;
    }
    
    @include phone{
        width: 96%;

    }
    &__apper{
        padding-bottom: 20px;
        @include font($size: 16px, $height: 19px, $weight: 300, $style:normal);
        text-transform: uppercase;

        
    }

    &__information-city{
        @include padding-margin-border;
        outline: none;
    }

    &__information-city::placeholder{
        @include font ($size: 13px, $height: 16px, $weight: 300, $style:normal);
        opacity: .7;
        outline: none;
    }

    &__information-city:hover,
    &___information-city:focus {
        border: 1px solid $pinky-color;
        background: $white-color;
        cursor: pointer;
    }

    &__information-state{
        @include padding-margin-border;
        outline: none;
    }

    &__information-state:hover,
    &___information-state:focus {
        border: 1px solid $pinky-color;
        background: $white-color;
        cursor: pointer;
    }

    &__information-postcode{
        @include padding-margin-border;
        outline: none;
    }

    &__information-postcode:hover,
    &___information-postcode:focus {
        border: 1px solid $pinky-color;
        background: $white-color;
        cursor: pointer;
    }

    &__information-button{
        text-transform: uppercase;
        @include font ($size: 11px, $height: 13px, $weight: 300, $style:normal);
        width: 31%;
        padding: 10px 14px;
        text-transform: uppercase;
        background-color: $white-color;
        opacity: .7;
        border: 1px solid $light-gray;
        cursor: pointer;
        margin-bottom: 57px;
        outline: none;
    }
}