.apper {
    background-color: $pink-color;


    &__head {
        color: $pinky-color;
        text-transform: uppercase;
        height: 148px;
        display: flex;
        align-items: center;
        @include font($size: 24px, $height: 29px, $weight: 400, $style:normal);
        
        @include phone {
            justify-content: center;
        }
    }

    &__block{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 148px;

        @include phone{
            flex-direction: column;
            padding: 24px 0 46px;
        }
    }

    &__block-head{
        color: $pinky-color;
        text-transform: uppercase;
        @include font($size: 24px, $height: 29px, $weight: 400, $style:normal);

        @include phone{
            padding: 0 0 32px;
        }

    }

    &__block-link{
        text-decoration: none;
        text-transform: uppercase;
        color: #636363;
        opacity: .7;
        cursor: pointer;
    }

    &__block-link:hover{
        color: $gray-color;
    }

    &__block-pink{
        color: $pinky-color;
        opacity: 1;
    }
}