.header {
    background-color: $black-color;
    position: relative;

    &__wrapper {
        min-height: 75px;
        @include flex-center-space-between();

        @include tablet{
            padding: 0 16px 0 16px;
        }
    }

    &__logo {
        margin: 0 41px 0 0;
    }

    &__menu-button {
        border: none;
        background-color: transparent;
    }


    &__menu-button:focus~&__navigation,
    &__navigation:hover {
        display: block;
    }


    &__link {
        margin: 0 0 0 33px;
    }

    &__link-cart{
        position: relative;
    }

    &__link-cart::after {
        content: '0';
        color: $white-color;
        padding: 2px 6px 2px 6px;
        background-color: $pinky-color;
        position: absolute;
        border-radius: 10px;
        top: -25px;
        right: -10px;
    }


    &__navigation {
        background-color: $white-color;
        display: none;
        position: absolute;
        right: 0;
        top: 75px;
        
    }


    &__navigation-menu {
        padding: 16px 0 0 34px;
        position: relative;
        width: 200px;
        height: 750px;
        right: 0;
    }




    &__navigation-title {
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 0 24px;
    }

    &__navigation-kross {
        border: none;
        background-color: $white-color;
        padding-left: 150px;
        outline: none;
        cursor: pointer
    }


}