.information {
    background-image: url(../img/beach.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    @include tablet {
        background-size: cover;

    }

    @include phone {
        background-size: cover;

    }


    &__center {
        @include flex-center-space-between();
        padding: 62px 0 126px;

        @include tablet {
            flex-direction: column;

        }

        @include phone {
            flex-direction: column;

        }

    }

    &__author {
        @include flex-center-column();


    }

    &__author-quote {
        margin: 30px 0 0 0;
        width: 360px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $black-color;
    }

    &__feedback {
        text-align: center;

        @include tablet {
            padding-top: 49px;
            padding-bottom: 14px;
        }
    }

    &__feedback-head {
        font-size: 24px;
        line-height: 167.2%;
        text-transform: uppercase;
        font-weight: bold;
        font-weight: 700;
    }

    &__feedback-text {
        font-weight: 300;
        font-size: 24px;
        line-height: 167.2%;
        margin-bottom: 32px;
        text-transform: uppercase;
    }

    &__feedback-writer {
        font-size: 0;

    }

    &__feedback-input {
        padding: 17px 100px 17px 22px;
        background: $white-color;
        border: none;
        border-radius: 20px 0 0 20px;
        outline: none;

        @include phone{
            padding: 17px 35px 17px 20px;
        }
    }

    &__feedback-input::placeholder {
        font-size: 14px;
        line-height: 17px;
        padding: 0;

    }

    &__feedback-input:hover,
    &__feedback-input:focus {
        border: 1px solid $pinky-color;
        cursor: pointer;
    }


    &__feedback-button {
        padding: 17px 17px 17px 22px;
        border: none;
        background: $pinky-color;
        border-radius: 0 20px 20px 0;
        color: $white-color;
        outline: none;
        cursor: pointer
    }

    

    
}