.list-item{
    position: relative;
    &__description{
        padding:22px 97px 0 31px;
        
    }

    &__kross{
        position: absolute;
        top: 28px;
        right: 22px;
        background-color: $white-color;
        border: none;
        cursor: pointer;
        outline: none;
    }

    &__description-name{
        padding-bottom: 42px;
        @include font($size: 24px, $height: 29px, $weight: 400, $style:normal);
        text-transform: uppercase;
        width: 200px;     
    }

    
}