.navigation-item__link {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation-item__sublist {
    padding: 12px 0 20px 21px;
}

.navigation-item__sublist-add {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
}

.navigation-item__sublist-link {
    padding-bottom: 11px;
}