.navigation {
    &-item__link {
        font-size: 14px;
        line-height: 17px;
        color: $pinky-color;
        text-transform: uppercase;
        text-decoration: none;
    }

    &-item__sublist {
        padding: 12px 0 20px 21px;
    }

    &-item__sublist-add {
        font-size: 14px;
        line-height: 17px;
        color: $gray-color;
        text-decoration: none;
    }

    &-item__sublist-link {
        padding-bottom: 11px;
    }
}