.products-list{
    align-items: center;
    margin: 65px 0 49px 0;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    &__title{
        display: none;
    }

    &__item {
        
        border-radius: 0px;
        margin-bottom: 30px;
        background-color: $corporeal-pink;
        
        @include tablet {
            min-width: 360px;
        }

        @include phone {
            width: 95%;
        }
    }


    &__item-heading {
        margin: 32px 0 13px;
    }

    &__item-text {
        font-size: 14px;
        line-height: 17px;
        color: $gray-color;
        width: 315px;
        height: 51px;
        font-weight: 300;
        line-height: 17px;
        margin-bottom: 18px;
    }

    &__item-price {
        font-size: 16px;
        line-height: 19px;
        color: $pinky-color;

    }
}