.products {
    margin-top: 96px;

    &__heading {
        text-align: center;
        margin-bottom: 48px;
        font-weight: 400;
    }

    &__heading-apper {
        font-size: 30px;
        line-height: 36px;
    }

    &__heading-text {
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        height: 581px;
        width: 360px;
        left: 230px;
        top: 1577px;
        border-radius: 0px;
        margin-bottom: 30px;
    }

    &__item-img {
        margin-bottom: 25px;
        position: relative;
    }

    &__item-heading {
        margin-bottom: 13px;
    }

    &__item-middle {
        margin: 0 30px 0 30px;
    }

    &__item-text {
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        width: 315px;
        height: 51px;
        font-weight: 300;
        line-height: 17px;
        margin-bottom: 18px;
    }

    &__item-price {
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;

    }

    &__item-button {
        display: none;
    }

    &__item-buy {
        width: 100%;
        position: relative;
    }

    &__item-buy_back {
        display: none;
    }

    &__item-buy:hover &__item-buy_back {
        display: block;
    }

    &__item-img__back-dark {
        background-image: url(../img/dark.png);
        width: 360px;
        min-height: 420px;
        position: absolute;
        top: 0;
    }

    &__item-img__back-add {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: 1px solid $white-color;
        color: $white-color;
        padding: 13px 15px 13px 50px;
        outline: none;
        cursor: pointer
    }

    &__item-img__back-add::before {
        position: absolute;
        content: '';
        background-image: url(../img/cart.svg);
        background-repeat: no-repeat;
        width: 32px;
        height: 30px;
        top: 15%;
        left: 5%;
    }

    &__item-img__back-add:focus {
        outline: 2px solid $white-color;
    }


    &__item-cart {
        display: block;
        text-decoration: none;
        color: var(--white-color);
        padding: 13px 13px 13px 50px;
        border: 1px solid $white-color;
        position: absolute;
        left: 30.72%;
        top: 40.12%;
    }

    &__item-img:focus~&__item-cart,
    &__item-img:active~&__item-cart,
    &__item-cart:hover {
        display: block;
    }

    &__button {
        text-align: center;
        margin: 49px 0 95px 0;
    }

    &__button-add {
        padding: 14px 39px;
        text-decoration: none;
        border: 1px solid #FF6A6A;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
    }

    &__button-add:hover,
    &__button-add:focus {
        background-color: #F26376;
        color: $white-color;
    }
}