.specification-text{
    &__pink{
        color: $pinky-color;
        opacity: 1;
    }
    &__count{
       
        border: 1px solid #EAEAEA;
        margin:  0 0 0 25px;

        @include phone{
            @include font($size: 14px, $height: 17px, $weight: 400, $style:normal);
        }
    }
}