.stocks {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 65px 0 0 0;
    }

    &__item {
        width: 31%;
        min-height: 260px;
        background-size: cover;
        @include flex-center();

        @include tablet {
            min-height: 167px;
        }

        @include phone {
            margin-top: 32px;
            width: 100%;
            min-height: 248px;
        }

    }

    &__item-add {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;

    }

    &__item-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $white-color;
    }

    &__item-header {
        color: $pinky-color;
    }

    &__item--woman {
        background-image: url(../img/beautyWoman.jpg);

        @include tablet {
            min-height: 267px;
        }

        @include phone {
            min-height: 247px;
        }
    }

    &__item--man {
        background-image: url(../img/justAMan.jpg);

        /*man.jpg*/
        @include tablet {
            min-height: 267px;
        }

        @include phone {
            min-height: 247px;
        }
    }

    &__item--kids {
        background-image: url(../img/kid.jpg);

        /*kids.jpg*/
        @include tablet {
            min-height: 267px;
        }

        @include phone {
            min-height: 247px;
        }
    }

    &__item--accessories {
        width: 100%;
        min-height: 180px;
        margin: 30px 0 0 0;
        background-image: url(../img/someStuff.jpg);
        background-repeat: no-repeat;

        @include tablet {
            width: 100%;
        }
    }
}